#myPhoto {
    opacity: 0.8;
    width: auto;
    display: block;
    margin-right: 2em;
}

.icons {
    width: 2em;
    margin-right: 0.5em;
}

.center {
    display: block;
    margin-right: 2em;
    margin-left: 10%;
}