@{
    ViewBag.Title = "Not Found";
}

<hr />
<h2>@ViewBag.ErrorMessage</h2>

<h3>@ViewBag.Path</h3>

<h3>@ViewBag.QS</h3>

<a asp-controller="home" asp-action="list">
    Click here to see the home page
</a>